In [135]:
import pandas as pd
from pandas import get_dummies

import numpy as np

from imblearn.over_sampling import SMOTE 

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [136]:
df = pd.read_csv("train.csv")
train_labels = df['Risk']
train_data = df.drop('Risk',axis = 'columns')
train_data.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,47,male,2,free,NaN,little,8335,36,car
1,38,male,2,own,little,NaN,804,12,radio/TV
2,28,male,2,own,little,little,5371,36,furniture/equipment
3,29,female,0,own,NaN,moderate,3990,36,domestic appliances
4,24,female,2,own,NaN,moderate,8487,48,car

In [137]:
test_df = pd.read_csv("test.csv")
test_labels = test_df['Risk']
test_data = test_df.drop('Risk', axis='columns')
test_data

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,36,male,2,own,rich,moderate,1913,18,business
1,34,male,3,own,little,moderate,1860,12,car
2,48,male,2,own,little,little,1024,24,radio/TV
3,31,male,2,own,little,little,3104,18,business
4,23,male,1,own,quite rich,moderate,2520,27,radio/TV
...,...,...,...,...,...,...,...,...,...
195,53,male,2,free,little,little,7119,48,furniture/equipment
196,42,male,2,own,NaN,moderate,2427,18,business
197,25,male,2,own,little,NaN,1262,12,radio/TV
198,31,male,2,own,NaN,little,6350,30,furniture/equipment
199,34,male,3,own,moderate,NaN,1591,21,furniture/equipment

In [138]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               800 non-null    int64
 1   Sex               800 non-null    object
 2   Job               800 non-null    int64
 3   Housing           800 non-null    object
 4   Saving accounts   656 non-null    object
 5   Checking account  484 non-null    object
 6   Credit amount     800 non-null    int64
 7   Duration          800 non-null    int64
 8   Purpose           800 non-null    object
dtypes: int64(4), object(5)
memory usage: 56.4+ KB

In [139]:
missing_value_cols = ['Saving accounts','Checking account']

In [140]:
train_data[missing_value_cols] = train_data[missing_value_cols].replace(np.nan,'NONE')
test_data[missing_value_cols] = test_data[missing_value_cols].replace(np.nan,'NONE')

In [141]:
train_data.dtypes

Age                  int64
Sex                 object
Job                  int64
Housing             object
Saving accounts     object
Checking account    object
Credit amount        int64
Duration             int64
Purpose             object
dtype: object

In [142]:
# for value in train_data['Credit amount']:
#     if value > 10000: value = 10000


# train_data['Credit amount'] = train_data['Credit amount'].map(lambda x: 10000 if x > 10000 else x)
# train_data['Credit amount'] = np.log(train_data['Credit amount']+1)

# print(train_data['Credit amount'].unique())

In [143]:
numeric_cols = ['Job','Credit amount','Duration']
categorical_cols = ['Sex','Housing','Saving accounts','Checking account','Purpose', 'Age']

In [144]:
def age_transform(value):
    if value <= 25: value = 1
    elif value <= 40 : value = 2
    elif value <50: value = 3
    elif value <80: value = 4
    else:
        value = 0
    return value

train_data['Age'] = train_data['Age'].map(age_transform)
test_data['Age'] = test_data['Age'].map(age_transform)



# def job_transform(value):
#     if value < 1 : value = 'No rent'
#     elif value < 2 : value = 'None skill - No rent'
#     elif value < 3: value = 'Skill - Rent'
#     elif value < 4 : value = 'High skill'
#     else: value = 'None'
#     return value

# train_data['Job'] = train_data['Job'].map(job_transform)
# test_data['Job'] = test_data['Job'].map(job_transform)

In [145]:
for col in categorical_cols:
    print(col,train_data[col].unique())

Sex ['male' 'female']
Housing ['free' 'own' 'rent']
Saving accounts ['NONE' 'little' 'moderate' 'rich' 'quite rich']
Checking account ['little' 'NONE' 'moderate' 'rich']
Purpose ['car' 'radio/TV' 'furniture/equipment' 'domestic appliances' 'education'
 'repairs' 'vacation/others' 'business']
Age [3 2 1 4]

In [146]:
train_data['Housing'] = train_data['Housing'].apply(lambda x: 0 if x == 'free' else (2 if x == 'own' else 1))
train_data['Saving accounts'] = train_data['Saving accounts'].apply(lambda x: 2 if x == 'nan' 
                                                                    else(0 if x == 'little' 
                                                                    else(1 if x == 'moderate'
                                                                    else(3 if x == 'quite rich' 
                                                                    else 4))))
                                                                    
train_data['Checking account'] = train_data['Checking account'].apply(lambda x: 2 if x == 'nan' 
                                                                    else(0 if x == 'little' 
                                                                    else(1 if x == 'moderate'
                                                                    else(3 if x == 'quite rich' 
                                                                    else 4))))

In [147]:
test_data['Housing'] = test_data['Housing'].apply(lambda x: 0 if x == 'free' else (2 if x == 'own' else 1))
test_data['Saving accounts'] = test_data['Saving accounts'].apply(lambda x: 0 if x == 'nan' 
                                                                    else(1 if x == 'little' 
                                                                    else(2 if x == 'moderate'
                                                                    else(3 if x == 'quite rich' 
                                                                    else 4))))
                                                                    
test_data['Checking account'] = test_data['Checking account'].apply(lambda x: 0 if x == 'nan' 
                                                                    else(1 if x == 'little' 
                                                                    else(2 if x == 'moderate'
                                                                    else(3 if x == 'quite rich' 
                                                                    else 4))))

In [148]:
# train_data['Purpose'] = train_data['Purpose'].apply(lambda x: 0 if x == 'education' 
#                                                                     else(2 if x == 'radio/TV'                                                             
#                                                                     else 1))
# test_data['Purpose'] = test_data['Purpose'].apply(lambda x: 0 if x == 'education' 
#                                                                 else(2 if x == 'radio/TV'                                                             
#                                                                 else 1))

In [149]:
# train_data['Sex'] = train_data['Sex'].apply(lambda x: 0 if x == 'female' else 1)
# test_data['Sex'] = test_data['Sex'].apply(lambda x: 0 if x == 'female' else 1)

In [150]:
numeric_cols = ['Age','Job','Credit amount','Duration','Housing','Saving accounts','Checking account']
categorical_cols = ['Sex','Purpose']

In [151]:
print(np.min(train_data['Credit amount']),np.max(train_data['Credit amount']))
print(np.min(test_data['Credit amount']),np.max(test_data['Credit amount']))

276 15945
250 18424

In [152]:
scaler = MinMaxScaler().fit(train_data[numeric_cols])
train_data[numeric_cols] = scaler.transform(train_data[numeric_cols])
train_data = get_dummies(train_data, categorical_cols)
# train_data, train_labels = SMOTE().fit_resample(train_data, train_labels)
train_data

,Age,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Sex_female,Sex_male,Purpose_business,Purpose_car,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others
0,0.666667,0.666667,0.0,1.00,0.00,0.514328,0.571429,0,1,0,1,0,0,0,0,0,0
1,0.333333,0.666667,1.0,0.00,1.00,0.033697,0.142857,0,1,0,0,0,0,0,1,0,0
2,0.333333,0.666667,1.0,0.00,0.00,0.325164,0.571429,0,1,0,0,0,0,1,0,0,0
3,0.333333,0.000000,1.0,1.00,0.25,0.237029,0.571429,1,0,0,0,1,0,0,0,0,0
4,0.000000,0.666667,1.0,1.00,0.25,0.524028,0.785714,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0.333333,0.666667,1.0,0.25,1.00,0.061331,0.035714,1,0,0,0,0,0,0,1,0,0
796,0.666667,0.666667,0.0,0.00,0.00,0.067458,0.357143,0,1,0,1,0,0,0,0,0,0
797,0.666667,0.666667,1.0,0.00,1.00,0.142894,0.250000,0,1,0,0,0,0,1,0,0,0
798,0.000000,0.666667,0.5,1.00,0.00,0.523007,0.250000,1,0,0,0,0,1,0,0,0,0
799,0.333333,0.666667,1.0,0.00,1.00,0.175697,0.196429,0,1,0,1,0,0,0,0,0,0

In [153]:
for col in train_data.columns:
    print(col,train_data[col].unique())

Age [0.66666667 0.33333333 0.         1.        ]
Job [0.66666667 0.         1.         0.33333333]
Housing [0.  1.  0.5]
Saving accounts [1.   0.   0.25 0.75]
Checking account [0.   1.   0.25]
Credit amount [0.51432765 0.03369711 0.32516434 0.23702853 0.52402834 0.13210798
 0.39517519 0.02712362 0.75901461 0.03573936 0.14691429 0.25355798
 0.22713638 0.0723722  0.21532963 0.07900951 0.14870126 0.09387963
 0.12604506 0.09853852 0.04926926 0.42906376 0.46627098 0.12936371
 0.22254132 0.06394792 0.10517582 0.1308954  0.20633097 0.1359372
 0.16937903 0.16184824 0.07486119 0.04167464 0.13127832 0.08430659
 0.11691876 0.06126747 0.13491608 0.06075691 0.21150041 0.11143021
 0.02648542 0.03765397 0.09585806 0.28942498 0.10581403 0.05207735
 0.10249537 0.15852958 0.13453315 0.03605846 0.22515796 0.10779246
 0.11774842 0.20690535 0.2712362  0.10096369 0.05667241 0.08162614
 0.1538707  0.23211437 0.74427213 0.03905801 0.07913715 0.40155721
 0.51758249 0.06369264 0.43276533 0.08022209 0.10626077 0.10185717
 0.07128726 0.25304742 0.72014806 0.26128023 0.38375136 0.15284958
 0.14678665 0.10702661 0.19611973 0.07384007 0.23594358 0.14334035
 0.01972047 0.10153807 0.07626524 0.27487395 0.13804327 0.27442721
 0.20237411 0.05699151 0.22694492 0.05941668 0.36307358 0.1041547
 0.35254324 0.0808603  0.0585232  0.22892335 0.02074159 0.02967643
 0.12815113 0.00970068 0.12502393 0.23377369 0.06305444 0.05999107
 0.06184185 0.4443168  0.17493139 0.15865722 0.61146212 0.12342843
 0.10753718 0.8961644  0.28687217 0.01544451 0.08239198 0.2363265
 0.32018636 0.16810262 0.45950603 0.58216861 0.11640819 0.11908865
 0.13223562 0.27666092 0.07186164 0.06031017 0.06209713 0.37232753
 0.04977982 0.56027826 0.1724424  0.03893037 0.03982386 0.06152275
 0.11781224 0.04958836 0.08960368 0.19573681 0.11742932 0.00427596
 0.276278   0.27149148 0.17710128 0.1079201  0.21922267 0.28527666
 0.20747974 0.09962346 0.57482928 0.57444636 0.12840641 0.10970706
 0.13102304 0.06050163 0.04888634 0.2221584  0.07058523 0.04352543
 0.11928011 0.00587147 0.13083158 0.07230838 0.10134661 0.08354075
 0.17888825 0.47239773 0.1897377  0.10587785 0.21009637 0.38643181
 0.24487842 0.16752824 0.24653775 0.00957304 0.02450699 0.19848108
 0.43723275 0.07817985 0.3747527  0.10683515 0.08417895 0.20652243
 0.05603421 0.09994256 0.06535197 0.475142   0.31642096 0.20933053
 0.10868594 0.21322356 0.06771332 0.49077797 0.11513179 0.07511647
 0.1894186  0.35560661 0.00695641 0.04097262 0.15521093 0.02463463
 0.06994703 0.40449295 0.36517965 0.39102687 0.20128917 0.14040462
 0.28336205 0.08079648 0.17876061 0.16101857 0.2120748  0.21596783
 0.13708597 0.07192546 0.76124832 0.45669794 0.20907524 0.00395686
 0.05801264 0.03044227 0.0984747  0.1576361  0.11870572 0.2810007
 0.0824558  0.35069245 0.149148   0.08251962 0.04231285 0.10370796
 0.06816006 0.49167145 0.1545089  0.687855   0.05660859 0.02399643
 0.02757036 0.36166954 0.17697364 0.01001978 0.06516051 0.11959921
 0.0764567  0.05105623 0.22343481 0.02125215 0.12591742 0.03356947
 0.13951114 0.10523965 0.05303465 0.14902036 0.16031655 0.35675538
 0.02897441 0.12081179 0.05935286 0.02750654 0.02814474 0.11468505
 0.02182654 0.04461038 0.09317761 0.06956411 0.12093943 0.38470866
 0.14685047 0.10536729 0.17327207 0.1626779  0.06681984 0.35260706
 0.15310486 0.66666667 0.06503287 0.10619695 0.10236773 0.36237156
 0.24130449 0.02686834 0.1274491  0.21488289 0.11181313 0.15878486
 0.33409918 0.20026805 0.0084881  0.55893803 0.18571702 0.40225924
 0.02252856 0.28795711 0.44527411 0.04665263 0.13395877 0.17186802
 0.07671198 0.0582041  0.1485098  0.0591614  0.04863105 0.41368307
 0.19567298 0.14372328 0.09949582 0.04301487 0.48541707 0.11902483
 0.45580445 0.22924245 0.81051758 0.18884421 0.92577701 0.28144744
 0.48171549 0.18846129 0.14633991 0.30167847 0.05424724 0.20231029
 0.12438573 0.09707065 0.02591103 0.15029676 0.04148318 0.04212139
 0.47782245 0.46008041 0.08028591 0.63954305 0.29721105 0.13517136
 0.0459506  0.24743123 0.06094837 0.03637756 0.10051694 0.0642032
 0.45299636 0.42702151 0.55338567 0.08188142 0.00740315 0.06267152
 0.212713   0.1277682  0.06477759 0.03088902 0.42191588 0.06777714
 0.03880273 0.19924692 0.18744017 0.15227519 0.28310677 0.06541579
 0.21698896 0.41266194 0.15584913 0.98136448 0.13536282 0.11411066
 0.06043781 0.06637309 0.18412151 0.11015381 0.07052141 0.02763418
 0.12157764 0.36977471 0.08105176 0.04365307 0.20550131 0.03222924
 0.07524411 0.11851426 0.37443359 0.10485672 0.44878422 0.26664114
 0.42580892 0.13842619 0.49709618 0.23543302 0.15367924 0.14021316
 0.02316676 0.11251516 0.01097709 0.16503925 0.57406344 0.74810135
 0.10543111 0.         0.06592635 0.39453698 0.59289042 0.01327462
 0.0673304  0.24819708 0.2316038  0.23217819 0.18073904 0.06439466
 0.03025081 0.16567745 0.18112196 0.17154892 0.03235688 0.07313804
 0.07115961 0.5969111  0.08283873 0.21041547 0.02323058 0.26670496
 0.05571511 0.07888187 0.07256366 0.30435893 0.07326568 0.31731444
 0.10606931 0.30971983 0.22362627 0.31106005 0.07971153 0.15846576
 0.07007467 0.27959666 0.05143915 0.08462569 0.06458613 0.06886208
 0.20996873 0.10874976 0.61803561 0.17971791 0.15757228 0.08398749
 0.37832663 0.07020231 0.07084051 0.27742677 0.66034846 0.09509222
 0.22164784 0.22809369 0.08334929 0.02488991 0.0814985  0.34890548
 0.03127194 0.07779692 0.14212777 0.28463846 0.06350118 0.56678793
 0.19733231 0.72206267 0.0629268  0.07409535 0.15808284 0.09222031
 0.19931074 0.06145893 0.13038484 0.2344119  0.08143468 0.07639288
 0.06918119 0.03312273 0.64394665 0.21347884 0.12259876 0.07441445
 0.29153105 0.48107729 0.04799285 0.18329185 0.47750335 0.06822388
 0.04180228 0.25502585 0.27557598 0.88729338 0.05903376 0.19835344
 0.04186611 0.13338439 0.787287   0.13255473 0.4436786  0.08813581
 0.40876891 0.07026613 0.39894058 0.41866105 0.04307869 0.21418087
 0.07766928 0.03727104 0.02878295 0.44023231 0.0991129  0.35522369
 0.09183739 0.07454209 0.1315336  0.09343289 0.12521539 0.13115068
 0.07096815 0.90273789 0.05922522 0.2079903  0.21539345 0.26785372
 0.16516689 0.12425809 0.08015827 0.05265173 0.06605399 0.48369392
 0.06452231 0.18176016 0.13293765 0.23587976 0.10281447 0.07945625
 0.40104665 0.03191014 0.1862914  0.02903823 0.07262748 0.07549939
 0.11857808 0.15208373 0.08003063 0.22771077 0.10638841 0.08800817
 0.04933308 0.30895399 0.05692769 0.79162678 0.15744464 0.26191844
 0.14704193 0.37992214 0.1859723  0.45516625 0.23894314 0.49754292
 0.06618163 0.00402068 0.15897632 0.25560023 0.78518093 0.0588423
 0.0597996  0.43972174 0.15278576 0.09362435 0.13012956 0.0761376
 0.17486757 0.53206969 0.17761185 0.049716   0.04173846 0.41904397
 0.14831834 0.03280362 0.06835152 0.17825005 0.12355607 0.17391027
 0.17856915 0.21354266 0.04282341 0.12368371 0.10243155 0.02412407
 0.51579552 0.0399515  0.32076074 0.1031974  0.04039824 0.04358925
 0.46927053 0.24034718 0.13044866 0.13064012 0.17339971 0.39204799
 0.16720914 0.19899164 0.10728189 0.22566852 0.04512094 0.0261025
 0.02603868 0.06528815 0.05609803 0.41387453 0.16414577 0.0805412
 0.23326313 0.32216478 0.21341502 0.42095858 0.54770566 0.1579552
 0.08271109 0.14238305 0.1623588  0.15993363 0.19497096 0.26721552
 0.19663029 0.1091965  0.17518667 0.03382475 0.68191971 0.08826345
 0.13485226 0.06988321 0.19809816 0.04614206 0.09777267 0.53047418
 0.26568383 0.04856723 0.11442977 0.1085583  0.12189674 0.07977535
 0.02827238 0.15016912 0.6510307  0.25106899 0.5343034  0.05488544
 0.13957496 0.23549684 0.33295041 0.45420895 0.14085136 0.0682877
 0.23804965 0.06375646 0.39185653 0.06005489 0.01136001 0.14436148
 0.01882698 0.0777331  0.05501308 0.20199119 0.06650073 0.5075627
 0.19797052 0.51324271 0.10262301 0.21571255 0.59327334 0.16893229
 0.17359117 0.30761376 1.         0.41955453 0.38834642 0.06426702
 0.24730359 0.30684792 0.03325037 0.11194077 0.05246027 0.4480822
 0.2117557  0.05890612 0.24468696 0.16286936 0.11404684 0.32912119
 0.0270598  0.3338439  0.06586253 0.03816453 0.06809624 0.07830749
 0.2898079  0.14697811 0.21067075 0.22988066 0.0402706  0.13076776
 0.32580254 0.05833174 0.12572596 0.01161529 0.06177803 0.55536409
 0.09751739 0.34686323 0.04078116 0.02527283 0.18169634 0.12923607
 0.15974217 0.48433212 0.10504818 0.07683962 0.29319038 0.08047738
 0.02540047 0.06924501 0.05628949 0.14972238 0.8775927  0.19586445
 0.20990491 0.05405578 0.12413045 0.45523007 0.31361287 0.08577446
 0.17110218 0.15546621 0.20479929 0.11845044 0.07798838 0.14991384
 0.07288276 0.09834705 0.12578978 0.06133129 0.06745804 0.14289361
 0.52300721 0.17569724]
Duration [0.57142857 0.14285714 0.78571429 0.35714286 0.28571429 0.46428571
 0.25       0.19642857 0.30357143 0.10714286 0.08928571 0.03571429
 0.07142857 0.67857143 0.05357143 0.17857143 0.73214286 0.41071429
 0.         0.125      0.16071429 0.39285714 0.64285714 0.32142857
 0.76785714 0.51785714 1.         0.42857143 0.625      0.89285714
 0.21428571]
Sex_female [0 1]
Sex_male [1 0]
Purpose_business [0 1]
Purpose_car [1 0]
Purpose_domestic appliances [0 1]
Purpose_education [0 1]
Purpose_furniture/equipment [0 1]
Purpose_radio/TV [0 1]
Purpose_repairs [0 1]
Purpose_vacation/others [0 1]

In [154]:

test_data[numeric_cols] = scaler.transform(test_data[numeric_cols])
test_data = get_dummies(test_data, categorical_cols)
test_data

,Age,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Sex_female,Sex_male,Purpose_business,Purpose_car,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others
0,0.333333,0.666667,1.0,1.00,0.50,0.104474,0.250000,0,1,1,0,0,0,0,0,0,0
1,0.333333,1.000000,1.0,0.25,0.50,0.101091,0.142857,0,1,0,1,0,0,0,0,0,0
2,0.666667,0.666667,1.0,0.25,0.25,0.047738,0.357143,0,1,0,0,0,0,0,1,0,0
3,0.333333,0.666667,1.0,0.25,0.25,0.180484,0.250000,0,1,1,0,0,0,0,0,0,0
4,0.000000,0.333333,1.0,0.75,0.50,0.143213,0.410714,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1.000000,0.666667,0.0,0.25,0.25,0.436722,0.785714,0,1,0,0,0,0,1,0,0,0
196,0.666667,0.666667,1.0,1.00,0.50,0.137277,0.250000,0,1,1,0,0,0,0,0,0,0
197,0.000000,0.666667,1.0,0.25,1.00,0.062927,0.142857,0,1,0,0,0,0,0,1,0,0
198,0.333333,0.666667,1.0,1.00,0.25,0.387644,0.464286,0,1,0,0,0,0,1,0,0,0
199,0.333333,1.000000,1.0,0.50,1.00,0.083924,0.303571,0,1,0,0,0,0,1,0,0,0

In [155]:
# feat_weight = np.full(17,1.0)
# feat_weight[0:7] = [1,1,1,2,2,2,1.5]
# feat_weight[7:9] = [0.5,0.5]
# feat_weight[9:17] = [1/3]*8
# feat_weight

In [156]:
# i = 0
# for col in train_data.columns:
#     train_data[col] =  train_data[col]*feat_weight[i]
#     test_data[col] =  test_data[col]*feat_weight[i]
#     i+=1

In [157]:
train_data

,Age,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Sex_female,Sex_male,Purpose_business,Purpose_car,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others
0,0.666667,0.666667,0.0,1.00,0.00,0.514328,0.571429,0,1,0,1,0,0,0,0,0,0
1,0.333333,0.666667,1.0,0.00,1.00,0.033697,0.142857,0,1,0,0,0,0,0,1,0,0
2,0.333333,0.666667,1.0,0.00,0.00,0.325164,0.571429,0,1,0,0,0,0,1,0,0,0
3,0.333333,0.000000,1.0,1.00,0.25,0.237029,0.571429,1,0,0,0,1,0,0,0,0,0
4,0.000000,0.666667,1.0,1.00,0.25,0.524028,0.785714,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0.333333,0.666667,1.0,0.25,1.00,0.061331,0.035714,1,0,0,0,0,0,0,1,0,0
796,0.666667,0.666667,0.0,0.00,0.00,0.067458,0.357143,0,1,0,1,0,0,0,0,0,0
797,0.666667,0.666667,1.0,0.00,1.00,0.142894,0.250000,0,1,0,0,0,0,1,0,0,0
798,0.000000,0.666667,0.5,1.00,0.00,0.523007,0.250000,1,0,0,0,0,1,0,0,0,0
799,0.333333,0.666667,1.0,0.00,1.00,0.175697,0.196429,0,1,0,1,0,0,0,0,0,0

In [158]:
test_data

,Age,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Sex_female,Sex_male,Purpose_business,Purpose_car,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others
0,0.333333,0.666667,1.0,1.00,0.50,0.104474,0.250000,0,1,1,0,0,0,0,0,0,0
1,0.333333,1.000000,1.0,0.25,0.50,0.101091,0.142857,0,1,0,1,0,0,0,0,0,0
2,0.666667,0.666667,1.0,0.25,0.25,0.047738,0.357143,0,1,0,0,0,0,0,1,0,0
3,0.333333,0.666667,1.0,0.25,0.25,0.180484,0.250000,0,1,1,0,0,0,0,0,0,0
4,0.000000,0.333333,1.0,0.75,0.50,0.143213,0.410714,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1.000000,0.666667,0.0,0.25,0.25,0.436722,0.785714,0,1,0,0,0,0,1,0,0,0
196,0.666667,0.666667,1.0,1.00,0.50,0.137277,0.250000,0,1,1,0,0,0,0,0,0,0
197,0.000000,0.666667,1.0,0.25,1.00,0.062927,0.142857,0,1,0,0,0,0,0,1,0,0
198,0.333333,0.666667,1.0,1.00,0.25,0.387644,0.464286,0,1,0,0,0,0,1,0,0,0
199,0.333333,1.000000,1.0,0.50,1.00,0.083924,0.303571,0,1,0,0,0,0,1,0,0,0

In [159]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(train_data,train_labels)

GaussianNB()

In [160]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=7 ,weights='distance')
knn.fit(train_data, train_labels)

KNeighborsClassifier(n_neighbors=7, weights='distance')

In [161]:
pred1 = gnb.predict(test_data)
print(pred1,len(np.where(pred1==1)[0]))
from sklearn.metrics import classification_report
print(classification_report(y_pred=pred1, y_true = test_labels))

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0
 1 0 1 0 0 0 1 0 0 0 1 0 0 0 0 1 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 1 1
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 1
 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 1 0 0 0 1 0 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 0 0 1 1 0
 1 1 0 0 0 0 0 0 1 1 1 0 0 0 0] 46
              precision    recall  f1-score   support

           0       0.75      0.83      0.79       140
           1       0.48      0.37      0.42        60

    accuracy                           0.69       200
   macro avg       0.62      0.60      0.60       200
weighted avg       0.67      0.69      0.68       200

In [162]:
pred = knn.predict(test_data)
print(pred,len(np.where(pred1==1)[0]))
from sklearn.metrics import classification_report
print(classification_report(y_pred=pred, y_true = test_labels))

[0 0 1 0 0 1 0 1 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0
 0 0 1 1 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 0 1 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0
 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0] 46
              precision    recall  f1-score   support

           0       0.75      0.92      0.83       140
           1       0.61      0.28      0.39        60

    accuracy                           0.73       200
   macro avg       0.68      0.60      0.61       200
weighted avg       0.71      0.73      0.69       200

In [163]:
rf = RandomForestClassifier()
rf.fit(train_data,train_labels)
pred2 = rf.predict(test_data)
print(classification_report(y_pred=pred2, y_true = test_labels))

              precision    recall  f1-score   support

           0       0.78      0.89      0.83       140
           1       0.62      0.40      0.48        60

    accuracy                           0.74       200
   macro avg       0.70      0.65      0.66       200
weighted avg       0.73      0.74      0.73       200