In [34]:
import pandas as pd
from pandas import get_dummies

import numpy as np

from imblearn.over_sampling import SMOTE 

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [35]:
df = pd.read_csv("train.csv")
train_labels = df['Risk']
train_data = df.drop('Risk',axis = 'columns')
train_data.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,47,male,2,free,NaN,little,8335,36,car
1,38,male,2,own,little,NaN,804,12,radio/TV
2,28,male,2,own,little,little,5371,36,furniture/equipment
3,29,female,0,own,NaN,moderate,3990,36,domestic appliances
4,24,female,2,own,NaN,moderate,8487,48,car

In [36]:
test_df = pd.read_csv("test.csv")
test_labels = test_df['Risk']
test_data = test_df.drop('Risk', axis='columns')
test_data

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,36,male,2,own,rich,moderate,1913,18,business
1,34,male,3,own,little,moderate,1860,12,car
2,48,male,2,own,little,little,1024,24,radio/TV
3,31,male,2,own,little,little,3104,18,business
4,23,male,1,own,quite rich,moderate,2520,27,radio/TV
...,...,...,...,...,...,...,...,...,...
195,53,male,2,free,little,little,7119,48,furniture/equipment
196,42,male,2,own,NaN,moderate,2427,18,business
197,25,male,2,own,little,NaN,1262,12,radio/TV
198,31,male,2,own,NaN,little,6350,30,furniture/equipment
199,34,male,3,own,moderate,NaN,1591,21,furniture/equipment

In [37]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               800 non-null    int64
 1   Sex               800 non-null    object
 2   Job               800 non-null    int64
 3   Housing           800 non-null    object
 4   Saving accounts   656 non-null    object
 5   Checking account  484 non-null    object
 6   Credit amount     800 non-null    int64
 7   Duration          800 non-null    int64
 8   Purpose           800 non-null    object
dtypes: int64(4), object(5)
memory usage: 56.4+ KB

In [38]:
missing_value_cols = ['Saving accounts','Checking account']

In [39]:
train_data[missing_value_cols] = train_data[missing_value_cols].replace(np.nan,'NONE')
test_data[missing_value_cols] = test_data[missing_value_cols].replace(np.nan,'NONE')

In [40]:
train_data.dtypes

Age                  int64
Sex                 object
Job                  int64
Housing             object
Saving accounts     object
Checking account    object
Credit amount        int64
Duration             int64
Purpose             object
dtype: object

In [41]:
# for value in train_data['Credit amount']:
#     if value > 10000: value = 10000


# train_data['Credit amount'] = train_data['Credit amount'].map(lambda x: 10000 if x > 10000 else x)
# train_data['Credit amount'] = np.log(train_data['Credit amount']+1)

# print(train_data['Credit amount'].unique())

In [42]:
def age_transform(value):
    if value <= 29: value = 'Young'
    elif value <= 40 : value = 'Young_Adult'
    elif value <55: value = 'Adult'
    elif value <80: value = 'Elder'
    else:
        value = 0
    return value

train_data['Age'] = train_data['Age'].map(age_transform)
test_data['Age'] = test_data['Age'].map(age_transform)

In [43]:
numeric_cols = ['Job','Credit amount','Duration']
categorical_cols = ['Sex','Housing','Saving accounts','Checking account','Purpose', 'Age']

In [44]:
import category_encoders as ce
encoder = ce.TargetEncoder(categorical_cols)
encoder.fit(X=train_data, y= train_labels)
train_data= encoder.transform(train_data)
test_data = encoder.transform(test_data)

c:\Python\Python310\lib\site-packages\category_encoders\target_encoder.py:122: FutureWarning: Default parameter min_samples_leaf will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  warnings.warn("Default parameter min_samples_leaf will change in version 2.6."
c:\Python\Python310\lib\site-packages\category_encoders\target_encoder.py:127: FutureWarning: Default parameter smoothing will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  warnings.warn("Default parameter smoothing will change in version 2.6."

In [45]:
train_data

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,0.256579,0.274047,2,0.406977,0.166667,0.479452,8335,36,0.309353
1,0.261745,0.274047,2,0.259649,0.364211,0.120253,804,12,0.213953
2,0.352740,0.274047,2,0.259649,0.364211,0.479452,5371,36,0.328859
3,0.352740,0.357430,0,0.259649,0.166667,0.392523,3990,36,0.300000
4,0.352740,0.357430,2,0.259649,0.166667,0.392523,8487,48,0.309353
...,...,...,...,...,...,...,...,...,...
795,0.352740,0.357430,2,0.259649,0.333333,0.120253,1237,6,0.213953
796,0.256579,0.274047,2,0.406977,0.364211,0.479452,1333,24,0.309353
797,0.256579,0.274047,2,0.259649,0.364211,0.120253,2515,18,0.328859
798,0.352740,0.357430,2,0.395833,0.166667,0.479452,8471,18,0.466667
799,0.261745,0.274047,2,0.259649,0.364211,0.120253,3029,15,0.309353

In [46]:
for col in train_data.columns:
    print(col, train_data[col].unique())

Age [0.25657895 0.26174497 0.35273973 0.34482759]
Sex [0.27404719 0.35742972]
Job [2 0 3 1]
Housing [0.40697674 0.25964912 0.39583333]
Saving accounts [0.16666667 0.36421053 0.33333333 0.12195122 0.16      ]
Checking account [0.47945205 0.12025316 0.39252336 0.25490196]
Credit amount [ 8335   804  5371  3990  8487  2346  6468   701 12169   836  2578  4249
  3835  1410  3650  1514  2606  1747  2251  1820  1048  6999  7582  2303
  3763  1278  1924  2327  3509  2406  2930  2812  1449   929  2333  1597
  2108  1236  2390  1228  3590  2022   691   866  1778  4811  1934  1092
  1882  2760  2384   841  3804  1965  2121  3518  4526  1858  1164  1555
  2687  3913 11938   888  1516  6568  8386  1274  7057  1533  1941  1872
  1393  4241 11560  4370  6289  2671  2576  1953  3349  1433  3973  2522
   585  1867  1471  4583  2439  4576  3447  1169  3832  1207  5965  1908
  5800  1543  1193  3863   601   741  2284   428  2235  3939  1264  1216
  1245  7238  3017  2762  9857  2210  1961 14318  4771   518  1567  3979
  5293  2910  7476  9398  2100  2142  2348  4611  1402  1221  1249  6110
  1056  9055  2978   886   900  1240  2122  1053  1680  3343  2116   343
  4605  4530  3051  1967  3711  4746  3527  1837  9283  9277  2288  1995
  2329  1224  1042  3757  1382   958  2145   368  2326  1409  1864  1585
  3079  7678  3249  1935  3568  6331  4113  2901  4139   426   660  3386
  7127  1501  6148  1950  1595  3512  1154  1842  1300  7721  5234  3556
  1979  3617  1337  7966  2080  1453  3244  5848   385   918  2708   662
  1372  6614  5998  6403  3430  2476  4716  1542  3077  2799  3599  3660
  2424  1403 12204  7432  3552   338  1185   753  1819  2746  2136  4679
  1568  5771  2613  1569   939  1901  1344  7980  2697 11054  1163   652
   708  5943  3049   433  1297  2150  1474  1076  3777   609  2249   802
  2462  1925  1107  2611  2788  5866   730  2169  1206   707   717  2073
   618   975  1736  1366  2171  6304  2577  1927  2991  2825  1323  5801
  2675 10722  1295  1940  1880  5954  4057   697  2273  3643  2028  2764
  5511  3414   409  9034  3186  6579   629  4788  7253  1007  2375  2969
  1478  1188  2603  1203  1038  6758  3342  2528  1835   950  7882  2141
  7418  3868 12976  3235 14782  4686  7824  3229  2569  5003  1126  3446
  2225  1797   682  2631   926   936  7763  7485  1534 10297  4933  2394
   996  4153  1231   846  1851  1282  7374  6967  8947  1559   392  1258
  3609  2278  1291   760  6887  1338   884  3398  3213  2662  4712  1301
  3676  6742  2718 15653  2397  2064  1223  1316  3161  2002  1381   709
  2181  6070  1546   960  3496   781  1455  2133  6143  1919  7308  4454
  6948  2445  8065  3965  2684  2473   639  2039   448  2862  9271 11998
  1928   276  1309  6458  9566   484  1331  4165  3905  3914  3108  1285
   750  2872  3114  2964   783  1422  1391  9629  1574  3573   640  4455
  1149  1512  1413  5045  1424  5248  1938  5129  3780  5150  1525  2759
  1374  4657  1082  1602  1288  1355  3566  1980  9960  3092  2745  1592
  6204  1376  1386  4623 10623  1766  3749  3850  1582   666  1553  5743
   766  1495  2503  4736  1271  9157  3368 11590  1262  1437  2753  1721
  3399  1239  2319  3949  1552  1473  1360   795 10366  3621  2197  1442
  4844  7814  1028  3148  7758  1345   931  4272  4594 14179  1201  3384
   932  2366 12612  2353  7228  1657  6681  1377  6527  6836   951  3632
  1493   860   727  7174  1829  5842  1715  1444  2337  1740  2238  2331
  1388 14421  1204  3535  3651  4473  2864  2223  1532  1101  1311  7855
  1287  3124  2359  3972  1887  1521  6560   776  3195   731  1414  1459
  2134  2659  1530  3844  1943  1655  1049  5117  1168 12680  2743  4380
  2580  6229  3190  7408  4020  8072  1313   339  2767  4281 12579  1198
  1213  7166  2670  1743  2315  1469  3016  8613  3059  1055   930  6842
  2600   790  1347  3069  2212  3001  3074  3622   947  2214  1881   654
  8358   902  5302  1893   909   959  7629  4042  2320  2323  2993  6419
  2896  3394  1957  3812   983   685   684  1299  1155  6761  2848  1538
  3931  5324  3620  6872  8858  2751  1572  2507  2820  2782  3331  4463
  3357  1987  3021   806 10961  1659  2389  1371  3380   999  1808  8588
  4439  1037  2069  1977  2186  1526   719  2629 10477  4210  8648  1136
  2463  3966  5493  7393  2483  1346  4006  1275  6416  1217   454  2538
   571  1494  1138  3441  1318  8229  3378  8318  1884  3656  9572  2923
  2996  5096 15945  6850  6361  1283  4151  5084   797  2030  1098  7297
  3594  1199  4110  2828  2063  5433   700  5507  1308   874  1343  1503
  4817  2579  3577  3878   907  2325  5381  1190  2246   458  1244  8978
  1804  5711   915   672  3123  2301  2779  7865  1922  1480  4870  1537
   674  1361  1158  2622 14027  3345  3565  1123  2221  7409  5190  1620
  2957  2712  3485  2132  1498  2625  1418  1817  2247  1237  1333  2515
  8471  3029]
Duration [36 12 48 24 20 30 18 15 21 10  9  6  8 42  7 14 45 27  4 11 13 26 40 22
 47 33 60 28 39 54 16]
Purpose [0.30935252 0.21395349 0.32885906 0.3        0.46666667 0.38888889
 0.33311024 0.32911392]

In [47]:

# def job_transform(value):
#     if value < 1 : value = 'No rent'
#     elif value < 2 : value = 'None skill - No rent'
#     elif value < 3: value = 'Skill - Rent'
#     elif value < 4 : value = 'High skill'
#     else: value = 'None'
#     return value

# train_data['Job'] = train_data['Job'].map(job_transform)
# test_data['Job'] = test_data['Job'].map(job_transform)

In [48]:
for col in categorical_cols:
    print(col,train_data[col].unique())

Sex [0.27404719 0.35742972]
Housing [0.40697674 0.25964912 0.39583333]
Saving accounts [0.16666667 0.36421053 0.33333333 0.12195122 0.16      ]
Checking account [0.47945205 0.12025316 0.39252336 0.25490196]
Purpose [0.30935252 0.21395349 0.32885906 0.3        0.46666667 0.38888889
 0.33311024 0.32911392]
Age [0.25657895 0.26174497 0.35273973 0.34482759]

In [49]:
# train_data['Housing'] = train_data['Housing'].apply(lambda x: 0 if x == 'free' else (2 if x == 'own' else 1))
# train_data['Saving accounts'] = train_data['Saving accounts'].apply(lambda x: 2 if x == 'nan' 
#                                                                     else(0 if x == 'little' 
#                                                                     else(1 if x == 'moderate'
#                                                                     else(3 if x == 'quite rich' 
#                                                                     else 4))))
                                                                    
# train_data['Checking account'] = train_data['Checking account'].apply(lambda x: 2 if x == 'nan' 
#                                                                     else(0 if x == 'little' 
#                                                                     else(1 if x == 'moderate'
#                                                                     else(3 if x == 'quite rich' 
#                                                                     else 4))))

In [50]:
# test_data['Housing'] = test_data['Housing'].apply(lambda x: 0 if x == 'free' else (2 if x == 'own' else 1))
# test_data['Saving accounts'] = test_data['Saving accounts'].apply(lambda x: 0 if x == 'nan' 
#                                                                     else(1 if x == 'little' 
#                                                                     else(2 if x == 'moderate'
#                                                                     else(3 if x == 'quite rich' 
#                                                                     else 4))))
                                                                    
# test_data['Checking account'] = test_data['Checking account'].apply(lambda x: 0 if x == 'nan' 
#                                                                     else(1 if x == 'little' 
#                                                                     else(2 if x == 'moderate'
#                                                                     else(3 if x == 'quite rich' 
#                                                                     else 4))))

In [51]:
# train_data['Purpose'] = train_data['Purpose'].apply(lambda x: 0 if x == 'education' 
#                                                                     else(2 if x == 'radio/TV'                                                             
#                                                                     else 1))
# test_data['Purpose'] = test_data['Purpose'].apply(lambda x: 0 if x == 'education' 
#                                                                 else(2 if x == 'radio/TV'                                                             
#                                                                 else 1))

In [52]:
# train_data['Sex'] = train_data['Sex'].apply(lambda x: 0 if x == 'female' else 1)
# test_data['Sex'] = test_data['Sex'].apply(lambda x: 0 if x == 'female' else 1)

In [53]:
numeric_cols = ['Age','Job','Credit amount','Duration','Housing','Saving accounts','Checking account','Sex','Purpose']
categorical_cols = ['Sex','Purpose']

In [54]:
print(np.min(train_data['Credit amount']),np.max(train_data['Credit amount']))
print(np.min(test_data['Credit amount']),np.max(test_data['Credit amount']))

276 15945
250 18424

In [55]:
scaler = MinMaxScaler().fit(train_data[numeric_cols])
train_data[numeric_cols] = scaler.transform(train_data[numeric_cols])
# train_data = get_dummies(train_data, categorical_cols)
train_data, train_labels = SMOTE().fit_resample(train_data, train_labels)
train_data

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,0.000000,0.0,0.666667,1.000000,0.184577,1.000000,0.514328,0.571429,0.377499
1,0.053723,0.0,0.666667,0.000000,1.000000,0.000000,0.033697,0.142857,0.000000
2,1.000000,0.0,0.666667,0.000000,1.000000,1.000000,0.325164,0.571429,0.454688
3,1.000000,1.0,0.000000,0.000000,0.184577,0.757993,0.237029,0.571429,0.340491
4,1.000000,1.0,0.666667,0.000000,0.184577,0.757993,0.524028,0.785714,0.377499
...,...,...,...,...,...,...,...,...,...
1115,1.000000,1.0,0.666667,0.924363,0.183792,0.757993,0.109159,0.253055,0.452487
1116,1.000000,1.0,0.666667,0.924363,1.000000,1.000000,0.166960,0.264219,0.444444
1117,1.000000,1.0,0.333333,0.000000,1.000000,0.877745,0.173855,0.251108,0.416493
1118,0.988931,0.0,0.621822,0.000000,0.180875,0.967442,0.154444,0.328314,0.393517
1119,0.000000,0.0,0.992195,0.998229,1.000000,1.000000,0.476502,0.144530,0.452880

In [56]:
for col in train_data.columns:
    print(col,train_data[col].unique())

Age [0.00000000e+00 5.37227251e-02 1.00000000e+00 9.17719678e-01
 2.10573308e-02 2.86867155e-02 2.28803042e-02 3.44404479e-02
 9.20867581e-01 9.98782111e-01 9.89790819e-01 9.95231800e-01
 9.47933654e-01 9.80187300e-01 9.98546880e-01 9.42479639e-01
 1.33169834e-04 4.56143827e-02 2.85241904e-02 3.71589162e-02
 1.34758639e-02 9.24270096e-01 3.64730886e-03 1.01221630e-02
 1.30639541e-02 4.28669898e-03 5.27470021e-02 7.90582499e-03
 6.50961492e-03 9.77326593e-03 2.24486241e-02 1.53946846e-02
 9.25063382e-01 4.24634618e-03 4.71489822e-02 7.31519490e-01
 9.64153045e-01 9.77459797e-01 3.39860370e-02 1.70437989e-04
 4.12665278e-02 9.88600662e-01 4.59051169e-02 4.02767600e-02
 9.18010458e-03 9.69694726e-03 7.44753956e-03 9.68863341e-01
 4.15255827e-02 9.40664493e-01 5.25092337e-02 3.26553689e-02
 2.24013686e-02 9.40404308e-01 5.19837642e-02 1.28208269e-02
 2.30575507e-03 6.67392323e-03 1.54528717e-02 2.25499115e-02
 1.51528002e-02 9.63442934e-01 9.54370144e-01 9.32358595e-01
 2.33546267e-02 9.90185934e-01 3.40077862e-02 9.30941979e-01
 4.56698164e-02 9.27208484e-01 9.64036953e-01 4.85676535e-02
 9.63019896e-01 4.18273400e-02 1.23968540e-02 9.98001482e-01
 5.30952704e-02 9.25238361e-01 7.29079750e-03 2.22251890e-02
 9.24296458e-01 9.46783580e-01 1.40850574e-02 2.34251003e-02
 9.83993463e-01 2.23292867e-02 2.32099568e-02 9.82915878e-01
 1.68043036e-02 2.20765379e-02 9.64234100e-01 5.42325344e-03
 9.20834178e-01 4.83881684e-02 9.63646186e-01 6.50606139e-03
 9.61842347e-01 4.88984262e-04 1.66994357e-02 3.43723899e-02
 9.62033786e-01 2.08506943e-02 4.94350491e-02 4.28679411e-02
 9.71433212e-01 2.50361364e-02 4.26253040e-02 9.39809270e-01
 9.52185968e-01 1.90998917e-02 9.60274788e-01 2.13514305e-02
 2.15707183e-02 9.88930552e-01]
Sex [0. 1.]
Job [0.66666667 0.         1.         0.33333333 0.77864808 0.60805128
 0.51132577 0.81320453 0.48386784 0.54426407 0.3392202  0.90614095
 0.7249906  0.84365068 0.36563357 0.77627562 0.97736955 0.39613831
 0.57347059 0.87897507 0.97340232 0.92641114 0.62627647 0.80595362
 0.63691592 0.96932478 0.50318313 0.47855621 0.90868532 0.50260547
 0.79658472 0.75009483 0.60970688 0.39108958 0.55691448 0.87385943
 0.78912921 0.42628717 0.69837603 0.37005646 0.23983236 0.86100625
 0.75856644 0.61409276 0.91238738 0.68550521 0.99575607 0.55756921
 0.51149217 0.74621604 0.6083826  0.93347279 0.37046732 0.48181138
 0.58597013 0.38925095 0.39263839 0.73208649 0.16301121 0.53904246
 0.85176512 0.85523626 0.73006093 0.47398526 0.61310059 0.38329921
 0.93347633 0.63763154 0.47902652 0.63955834 0.84551295 0.5527198
 0.51342723 0.34142971 0.6627735  0.71190387 0.78809167 0.2155899
 0.72660719 0.83840928 0.36689816 0.37894084 0.29167061 0.62312235
 0.83788049 0.70031632 0.69980966 0.70078968 0.4057096  0.40124996
 0.48060959 0.62629851 0.94587766 0.97367492 0.996966   0.34487792
 0.96930175 0.68749327 0.89844367 0.879937   0.51285827 0.69853775
 0.97758969 0.9557942  0.43706439 0.53609485 0.68931662 0.54196709
 0.51320115 0.4411836  0.85964981 0.62182221 0.99219548]
Housing [1.         0.         0.92436306 0.93766352 0.92874627 0.92569885
 0.97723918 0.93501187 0.98676567 0.99267073 0.94768347 0.97512854
 0.99486491 0.95182492 0.9939647  0.98624009 0.97674809 0.94603744
 0.99402151 0.9573157  0.87262356 0.99976004 0.95384287 0.934842
 0.93536957 0.97880265 0.98634754 0.00145499 0.95587075 0.28764125
 0.95796848 0.94267398 0.9387479  0.95742242 0.95835736 0.94181675
 0.92620021 0.99395423 0.95724119 0.9924795  0.99248941 0.95778164
 0.96866948 0.99931155 0.97648864 0.95344213 0.99491486 0.97037184
 0.93998726 0.9696303  0.99822907]
Saving accounts [0.1845768  1.         0.87254486 0.         0.15705808 0.1678444
 0.92414882 0.9775875  0.89577101 0.8872675  0.16783839 0.91686076
 0.17214925 0.9998404  0.96164594 0.98205577 0.97769894 0.89310011
 0.56704939 0.92669655 0.85780873 0.18344081 0.9722077  0.67126159
 0.65926656 0.76633384 0.91760671 0.17718856 0.5231834  0.90209672
 0.94850869 0.89021387 0.93817425 0.97791601 0.87484049 0.98787544
 0.88658652 0.99868473 0.16363157 0.94505223 0.16139838 0.96649997
 0.95268481 0.99963708 0.92642301 0.8741676  0.62040134 0.96179478
 0.16016617 0.65772918 0.01688321 0.97456229 0.76224344 0.96914443
 0.92468389 0.12911506 0.89755914 0.93767015 0.15960133 0.94464735
 0.9263253  0.97951819 0.89165009 0.92070416 0.92982836 0.95202896
 0.9409295  0.81183601 0.87403348 0.98270286 0.98981233 0.96511693
 0.91897358 0.62235809 0.16170255 0.15081234 0.92402727 0.80327028
 0.88843173 0.94459735 0.45311898 0.99681754 0.98713354 0.3570419
 0.98695254 0.35597342 0.12295624 0.97403103 0.55817122 0.9899342
 0.89588679 0.9569526  0.25967299 0.94905251 0.91137649 0.91926065
 0.93135588 0.95321144 0.55399001 0.95099912 0.96784433 0.35786865
 0.95007385 0.0536312  0.96573504 0.09546251 0.95876179 0.46243437
 0.89191645 0.18379212 0.18087461]
Checking account [1.         0.         0.75799288 0.37485861 0.14693078 0.62928112
 0.45109721 0.95744398 0.87359702 0.86106279 0.36051717 0.85279787
 0.13033758 0.20557114 0.77201735 0.80906019 0.99969696 0.84685978
 0.94172587 0.10671674 0.95765558 0.76125613 0.97654934 0.25159503
 0.7772593  0.77442307 0.8054235  0.84585956 0.84798205 0.77730336
 0.78731702 0.85464428 0.85911818 0.64820263 0.77959256 0.84355464
 0.78026374 0.87862504 0.18384963 0.9864541  0.96376366 0.85231616
 0.96647168 0.42797221 0.44234382 0.56070882 0.95806773 0.76731808
 0.8469033  0.945055   0.67448527 0.99750261 0.62000768 0.89566719
 0.05912334 0.55876366 0.91086486 0.57941704 0.27196861 0.83719996
 0.99216643 0.81258838 0.44546509 0.83226996 0.90687752 0.15734549
 0.71680724 0.89220176 0.94141259 0.69372102 0.88165038 0.46777816
 0.86561457 0.80401846 0.63618477 0.79426917 0.60671948 0.86609768
 0.98031877 0.92606959 0.40669263 0.49888013 0.66958225 0.78010721
 0.98065604 0.30745095 0.68345923 0.48036678 0.86254779 0.44494499
 0.88687913 0.60054967 0.89480349 0.97593748 0.97522596 0.76019563
 0.83172494 0.84516118 0.72289177 0.84669509 0.91115959 0.89036291
 0.79008723 0.38744731 0.19123412 0.83330384 0.92223937 0.5794427
 0.47442871 0.88858076 0.8283112  0.53534919 0.88315816 0.9216984
 0.91753545 0.87774513 0.96744197]
Credit amount [0.51432765 0.03369711 0.32516434 ... 0.17385527 0.15444448 0.4765022 ]
Duration [0.57142857 0.14285714 0.78571429 0.35714286 0.28571429 0.46428571
 0.25       0.19642857 0.30357143 0.10714286 0.08928571 0.03571429
 0.07142857 0.67857143 0.05357143 0.17857143 0.73214286 0.41071429
 0.         0.125      0.16071429 0.39285714 0.64285714 0.32142857
 0.76785714 0.51785714 1.         0.42857143 0.625      0.89285714
 0.21428571 0.32456946 0.16043454 0.21811854 0.42652791 0.96231868
 0.11726666 0.299931   0.18190643 0.4801651  0.51552798 0.11939075
 0.51120944 0.33049706 0.23143552 0.46838481 0.27791457 0.2484141
 0.54484042 0.3198895  0.14906614 0.27260883 0.35700869 0.7070269
 0.73411533 0.35525065 0.45858281 0.14312273 0.37307428 0.74822033
 0.2240809  0.23797141 0.56564967 0.54734923 0.93393136 0.49806866
 0.27687583 0.24770502 0.76012504 0.76802261 0.34986878 0.63549939
 0.48965774 0.6021218  0.64923031 0.48023843 0.29235079 0.39789041
 0.19434047 0.14480309 0.32560862 0.3785379  0.65396514 0.61619938
 0.15820847 0.7665888  0.64718942 0.75183919 0.45442582 0.303407
 0.38336378 0.57552117 0.1598801  0.31046408 0.47454744 0.42127491
 0.28871062 0.14453209 0.35114574 0.78639412 0.3892284  0.33230062
 0.12197746 0.38683058 0.29610841 0.66150932 0.32052585 0.26135643
 0.14180016 0.17044222 0.45809295 0.7760234  0.33950411 0.15010349
 0.0902506  0.70698836 0.17273516 0.27038459 0.25363022 0.57585121
 0.45951722 0.34348475 0.51616259 0.280476   0.3671919  0.18140163
 0.20569118 0.13152751 0.53567067 0.03632444 0.18206247 0.24596317
 0.64743302 0.19711063 0.31339029 0.56018409 0.21155703 0.21299122
 0.0855918  0.62256745 0.4163087  0.30989487 0.27338158 0.31967453
 0.40548456 0.1670596  0.25789786 0.10060397 0.39851691 0.11203844
 0.71660933 0.95723251 0.94812365 0.70518258 0.2305166  0.25723118
 0.20728906 0.33611506 0.62254685 0.19760354 0.12918312 0.51193264
 0.3034098  0.2965312  0.18217598 0.32149088 0.13266878 0.44756195
 0.40357471 0.10952784 0.29299504 0.25933272 0.34478683 0.3103129
 0.4164249  0.68292812 0.26530256 0.25143345 0.17558806 0.16377054
 0.2838913  0.15521908 0.35454045 0.74655191 0.42793439 0.48277818
 0.24571796 0.29849521 0.49336964 0.50459004 0.18070325 0.32905208
 0.66486509 0.30194736 0.27398471 0.59843325 0.74118148 0.3117292
 0.4788502  0.17682903 0.21806745 0.63845649 0.05729167 0.17204073
 0.19991845 0.20890024 0.17066761 0.38739947 0.18973278 0.75772151
 0.46141053 0.22686825 0.14419478 0.43724581 0.34403483 0.33841124
 0.76440807 0.35308725 0.61675081 0.65663521 0.58053133 0.23020966
 0.54392796 0.15448904 0.13194197 0.14994985 0.12292246 0.41720202
 0.53663564 0.39309841 0.36560449 0.42236547 0.74647034 0.12447624
 0.40925146 0.09485185 0.20946677 0.2514182  0.77902002 0.52957193
 0.2799595  0.37677479 0.28015395 0.20841605 0.72711062 0.65381198
 0.37424526 0.31045855 0.20545047 0.43185413 0.28073283 0.107294
 0.57318878 0.23650593 0.71547179 0.46650479 0.1772838  0.24271966
 0.58453173 0.95573533 0.18369889 0.37885579 0.41467161 0.12910955
 0.74762208 0.3110393  0.27954947 0.33888825 0.50939828 0.22889702
 0.75314553 0.2530551  0.26421938 0.25110797 0.32831428 0.14452954]
Purpose [0.37749923 0.         0.45468769 0.3404908  1.         0.69222902
 0.47150984 0.4556962  0.42504587 0.22465759 0.39156528 0.45525285
 0.3695155  0.39196036 0.43624908 0.38641545 0.43826206 0.38707662
 0.20701925 0.45532587 0.69119298 0.37769057 0.38897663 0.39100503
 0.38994775 0.7579541  0.69637904 0.74422237 0.38507657 0.43158648
 0.40321249 0.43532566 0.37915259 0.45561591 0.4368848  0.42056038
 0.44014423 0.27195489 0.43864492 0.28570134 0.22531016 0.44945663
 0.39453986 0.37682707 0.48347072 0.45509047 0.39172486 0.40122809
 0.26932375 0.45560619 0.77991447 0.38360035 0.38460255 0.38694434
 0.41734445 0.39849359 0.41068405 0.39892082 0.45265105 0.4237016
 0.42679957 0.37774731 0.44313007 0.14713189 0.44399379 0.39941403
 0.39161377 0.46379603 0.06649266 0.18311678 0.36295313 0.23464533
 0.37070001 0.65502869 0.29179226 0.37926554 0.38600303 0.99357611
 0.10885375 0.14803625 0.16274544 0.36477849 0.12782411 0.10407628
 0.05953982 0.40615392 0.42253369 0.45624041 0.41012852 0.45032534
 0.41418349 0.99307004 0.434408   0.20154984 0.13544711 0.36527988
 0.24301989 0.10851036 0.03307521 0.55086892 0.39491253 0.38621726
 0.29819195 0.44899787 0.09606375 0.26163676 0.40720075 0.04057988
 0.39927067 0.56022707 0.35563011 0.07653006 0.0740878  0.38682625
 0.69557619 0.17408747 0.41227379 0.45569316 0.21355463 0.40582552
 0.07179385 0.15928798 0.4556514  0.44313009 0.44397466 0.23486003
 0.39162316 0.05391592 0.41999608 0.69082545 0.40107942 0.40655111
 0.40388538 0.29038893 0.20395592 0.004409   0.44855065 0.44421232
 0.42275468 0.03017404 0.43356206 0.13751353 0.16060947 0.43445037
 0.256427   0.3927114  0.35709625 0.38042243 0.6614787  0.19896937
 0.18292904 0.74855596 0.31246278 0.45507717 0.63330647 0.45482568
 0.4555499  0.05695664 0.462      0.4275773  0.00942586 0.4468956
 0.38694259 0.45551989 0.07934787 0.40442671 0.15030286 0.41639522
 0.55964029 0.48434138 0.07399004 0.42998272 0.38359521 0.41943221
 0.74214621 0.45498445 0.38017255 0.94977961 0.65110319 0.44744647
 0.42472955 0.2059883  0.60129258 0.38365973 0.43298153 0.5544621
 0.45503931 0.41212561 0.38268868 0.39438819 0.43521381 0.43524474
 0.40813019 0.40230108 0.1759241  0.42581159 0.43954317 0.46990749
 0.45495845 0.81912428 0.42294038 0.21943705 0.43467377 0.35314102
 0.56937344 0.40414505 0.45248672 0.44444369 0.41649257 0.39351703
 0.45288044]

In [57]:

test_data[numeric_cols] = scaler.transform(test_data[numeric_cols])
# test_data = get_dummies(test_data, categorical_cols)
test_data

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,0.053723,0.0,0.666667,0.0,0.000000,0.757993,0.104474,0.250000,0.455696
1,0.053723,0.0,1.000000,0.0,1.000000,0.757993,0.101091,0.142857,0.377499
2,0.000000,0.0,0.666667,0.0,1.000000,1.000000,0.047738,0.357143,0.000000
3,0.053723,0.0,0.666667,0.0,1.000000,1.000000,0.180484,0.250000,0.455696
4,1.000000,0.0,0.333333,0.0,0.157058,0.757993,0.143213,0.410714,0.000000
...,...,...,...,...,...,...,...,...,...
195,0.000000,0.0,0.666667,1.0,1.000000,1.000000,0.436722,0.785714,0.454688
196,0.000000,0.0,0.666667,0.0,0.184577,0.757993,0.137277,0.250000,0.455696
197,1.000000,0.0,0.666667,0.0,1.000000,0.000000,0.062927,0.142857,0.000000
198,0.053723,0.0,0.666667,0.0,0.184577,1.000000,0.387644,0.464286,0.454688
199,0.053723,0.0,1.000000,0.0,0.872545,0.000000,0.083924,0.303571,0.454688

In [58]:
# feat_weight = np.full(17,1.0)
# feat_weight[0:7] = [1,1,1,2,2,2,1.5]
# feat_weight[7:9] = [0.5,0.5]
# feat_weight[9:17] = [1/3]*8
# feat_weight

In [59]:
# i = 0
# for col in train_data.columns:
#     train_data[col] =  train_data[col]*feat_weight[i]
#     test_data[col] =  test_data[col]*feat_weight[i]
#     i+=1

In [60]:
train_data

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,0.000000,0.0,0.666667,1.000000,0.184577,1.000000,0.514328,0.571429,0.377499
1,0.053723,0.0,0.666667,0.000000,1.000000,0.000000,0.033697,0.142857,0.000000
2,1.000000,0.0,0.666667,0.000000,1.000000,1.000000,0.325164,0.571429,0.454688
3,1.000000,1.0,0.000000,0.000000,0.184577,0.757993,0.237029,0.571429,0.340491
4,1.000000,1.0,0.666667,0.000000,0.184577,0.757993,0.524028,0.785714,0.377499
...,...,...,...,...,...,...,...,...,...
1115,1.000000,1.0,0.666667,0.924363,0.183792,0.757993,0.109159,0.253055,0.452487
1116,1.000000,1.0,0.666667,0.924363,1.000000,1.000000,0.166960,0.264219,0.444444
1117,1.000000,1.0,0.333333,0.000000,1.000000,0.877745,0.173855,0.251108,0.416493
1118,0.988931,0.0,0.621822,0.000000,0.180875,0.967442,0.154444,0.328314,0.393517
1119,0.000000,0.0,0.992195,0.998229,1.000000,1.000000,0.476502,0.144530,0.452880

In [61]:
test_data

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,0.053723,0.0,0.666667,0.0,0.000000,0.757993,0.104474,0.250000,0.455696
1,0.053723,0.0,1.000000,0.0,1.000000,0.757993,0.101091,0.142857,0.377499
2,0.000000,0.0,0.666667,0.0,1.000000,1.000000,0.047738,0.357143,0.000000
3,0.053723,0.0,0.666667,0.0,1.000000,1.000000,0.180484,0.250000,0.455696
4,1.000000,0.0,0.333333,0.0,0.157058,0.757993,0.143213,0.410714,0.000000
...,...,...,...,...,...,...,...,...,...
195,0.000000,0.0,0.666667,1.0,1.000000,1.000000,0.436722,0.785714,0.454688
196,0.000000,0.0,0.666667,0.0,0.184577,0.757993,0.137277,0.250000,0.455696
197,1.000000,0.0,0.666667,0.0,1.000000,0.000000,0.062927,0.142857,0.000000
198,0.053723,0.0,0.666667,0.0,0.184577,1.000000,0.387644,0.464286,0.454688
199,0.053723,0.0,1.000000,0.0,0.872545,0.000000,0.083924,0.303571,0.454688

In [62]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(train_data,train_labels)

GaussianNB()

In [63]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=7 ,weights='distance')
knn.fit(train_data, train_labels)

KNeighborsClassifier(n_neighbors=7, weights='distance')

In [64]:
pred1 = gnb.predict(test_data)
print(pred1,len(np.where(pred1==1)[0]))
from sklearn.metrics import classification_report
print(classification_report(y_pred=pred1, y_true = test_labels))

[0 0 1 1 0 1 1 0 1 0 0 1 0 0 1 0 1 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 1 0 1 1
 1 0 1 1 1 0 1 0 0 1 1 0 0 0 0 1 1 1 0 0 0 1 1 0 1 1 1 0 0 0 0 1 1 1 1 0 0
 1 0 0 0 1 0 1 0 1 0 0 0 1 0 1 0 1 0 0 1 1 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 1
 0 1 0 0 1 1 0 0 0 1 1 1 0 0 0 0 1 0 1 1 0 1 0 0 1 0 0 1 1 1 1 0 1 1 1 0 0
 0 0 0 0 0 0 1 1 1 1 0 1 1 0 1 0 1 0 1 1 0 0 1 0 0 0 0 1 0 0 1 1 0 1 1 1 0
 1 1 0 1 0 0 1 1 0 0 1 0 0 0 0] 87
              precision    recall  f1-score   support

           0       0.87      0.70      0.77       140
           1       0.52      0.75      0.61        60

    accuracy                           0.71       200
   macro avg       0.69      0.72      0.69       200
weighted avg       0.76      0.71      0.73       200

In [65]:
pred = knn.predict(test_data)
print(pred,len(np.where(pred==1)[0]))
from sklearn.metrics import classification_report
print(classification_report(y_pred=pred, y_true = test_labels))

[0 0 1 1 1 1 0 1 0 1 0 1 0 0 1 0 1 0 0 0 0 0 0 1 1 1 0 0 0 0 0 1 1 1 0 1 1
 1 1 1 1 1 1 0 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 1 1 1 1 0 0 0 1 1 1 0 1 0 0
 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 1 0 1 1 1 1 0 1 0 0 0 1 0 0 0 1 0
 0 1 0 0 0 1 0 0 0 1 1 1 0 1 0 0 0 1 1 0 0 1 1 0 1 0 1 1 0 0 1 0 1 1 0 0 0
 0 0 0 0 0 1 1 0 0 0 0 0 1 0 1 0 1 0 0 1 0 1 1 0 1 1 0 1 0 0 1 1 0 1 1 1 1
 1 1 0 1 0 0 0 0 0 0 1 0 0 0 0] 84
              precision    recall  f1-score   support

           0       0.81      0.67      0.73       140
           1       0.45      0.63      0.53        60

    accuracy                           0.66       200
   macro avg       0.63      0.65      0.63       200
weighted avg       0.70      0.66      0.67       200

In [66]:
rf = RandomForestClassifier()
rf.fit(train_data,train_labels)
pred2 = rf.predict(test_data)
print(classification_report(y_pred=pred2, y_true = test_labels))

              precision    recall  f1-score   support

           0       0.80      0.82      0.81       140
           1       0.56      0.53      0.55        60

    accuracy                           0.73       200
   macro avg       0.68      0.68      0.68       200
weighted avg       0.73      0.73      0.73       200